
	<div class="page" ng-controller="ControllerMain">

		<div class="options">

			<ul>
			
				<li ng-show="InGame">
					<a ng-click="BackToGame()" ng-Tranny="'Resume'"style="color:Lime"></a>
					<li>&nbsp;</li>
				</li>
				
				<li>&nbsp;</li>
				<li><a ng-click="MenuOption( this, 'openserverbrowser')" ng-Tranny="'Legacy Browser'"style="color:MediumPurple"></a></li>
		
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li><a ng-click="MenuOption( this, 'OpenOptionsDialog')" ng-Tranny="'options'"style="color:White"></a></li>

				<li>&nbsp;</li>
				<li ng-show="InGame">
					<a ng-click="MenuOption( this, 'disconnect');" ng-Tranny="'Disconnect'"style="color:Orange"></a>
				</li>
				<li><a ng-click="MenuOption( this, 'Quit')" ng-Tranny="'Exit'"style="color:Red"></a></li>

			</ul>

		</div>

		<div class="news" ng-hide="NewsList.length == 0">
			<div class="news_item" style="{{NewsItemBackground( CurrentNewsItem.HeaderImage )}}" ng-hide="HideNews">
				<div>
					<span ng-click="OpenInSteam( CurrentNewsItem.Url )">{{CurrentNewsItem.Title}}</span>
					<font>{{CurrentNewsItem.SummaryHtml}}</font>
				</div>
			</div>
			<div class='news_buttons'>
				<div ng-click="ToggleNewsList()" ng-hide="HideNews || AnyNewNewsItems"><img src="../materials/icon16/cross.png"></div>
				<div class="{{IfElse( NewsItem.Url == CurrentNewsItem.Url, 'selected', '' )}} {{NewsItemClass( NewsItem )}}" ng-repeat="NewsItem in NewsList | orderBy: 'Date'" ng-click="SelectItem(NewsItem)"></div>
			</div>
		</div>

	</div>
